

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7dec4;
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    background-color: #ff3900; 
    padding: 10px 0; 
    position: fixed;
    width: 100%; 
    top: 0; 
    z-index: 1000; 
}


.container {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex; 
    align-items: center; 
}
.logo img {
    height: 8rem; 
    width: auto; 
    margin-right: 20px; 
}

.navbar {
    flex-grow: 1; 
}


.nav-menu {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: flex-end; 
}


.nav-item {
    margin-left: 20px; 
}


.nav-item a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
}


.nav-item a:hover {
    color: #ff9100; 
}


.content {
    margin-top: 80px; 
}


.slider {
    position: relative; 
    overflow: hidden; 
}

.slides {
    display: flex; 
    transition: transform 0.5s ease-in-out; 
}


.slide {
    min-width: 100%; 
    flex: 0 0 auto; 
}


.slide img {
    width: 100%; 
    height: auto; 
}


.navigation-bar {
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%);
}

.manual-btn {
    cursor: pointer; 
    background-color: #fff; 
    width: 15px; 
    height: 15px; 
    border-radius: 50%; 
    display: inline-block; 
    margin: 0 5px; 
}

@keyframes slideAnimation {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
.slides {
    animation: slideAnimation 5s infinite; 
}


.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: calc(33.33% - 40px);
    margin-bottom: 20px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card a {
    display: block;
    background-color:#ff3900;
    color: white;
    text-decoration: none;
    padding: 15px 32px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.card a:hover {
    background-color: #f56c47;
}

@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
    .card {
        width: calc(50% - 30px);
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 10px;
    }
    .card {
        width: calc(100% - 20px);
    }
}


.footer {
    background-color: #ff3900;
    padding: 20px;
    text-align: center;
}


.footer span {
    font-weight: bold;
}


.social-icons i {
    margin: 0 5px;
    cursor: pointer;
}


.subscribe form {
    margin-top: 10px;
}

.subscribe input[type="email"] {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.subscribe button {
    padding: 8px 16px;
    background-color: #131212;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.subscribe button:hover {
    background-color: #ff3900;
}


.contact h4 {
    margin-top: 20px;
}

.contact p {
    margin: 5px 0;
}

