* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7dec4;
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: url("/img/login/bg_1.jpg"); /* imagem de fundo */
    background-repeat: no-repeat; /* para evitar repetição */
    background-size: cover; /* para cobrir todo o corpo */
    background-position: center ; /* para centralizar a imagem */
}

header {
    background-color: #ff3900; 
    padding: 10px 0; 
    position: fixed;
    width: 100%; 
    top: 0; 
    z-index: 1000; 
}


.container {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex; 
    align-items: center; 
}
.logo img {
    height: 5rem; 
    width: auto; 
    margin-right: 10px;
}

.navbar {
    flex-grow: 1; 
}


.nav-menu {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: flex-end; 
}


.nav-item {
    margin-left: 20px; 
}


.nav-item a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
}


.nav-item a:hover {
    color: #ff9100; 
}
@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
    .card {
        width: calc(50% - 30px);
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 10px;
    }
    .card {
        width: calc(100% - 20px);
    }
}
/*css form*/
.form {
    max-width: 400px;
    margin: 150px auto;
    margin-bottom: 60px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    opacity: 85%;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #ff3909;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #c55c05;
}

/* estilos dinâmicos */
.required-popup::after {
    content: "*Campo obrigatório";
    /* position: absolute; */
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: 30%;
    display: block;
    background-color: #202020;
  }

  .helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
  }

  input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }
  
  .visible {
    display: block;
  }

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .container {
        margin: 30px auto;
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        margin: 20px auto;
        padding: 15px;
    }
}

/*css do footer*/

footer {
    width: 100%;
    color: #ffffff;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color:#ff3909;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color:#ffffff;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #ffffff;
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #e76949;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color:#ffffff;
}

#input_group {
    display: flex;
    align-items: center;
    background-color:#ffffff;
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #0f0f0f;
    border: none;
    color: #ffffff;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color:#0f0f0f;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}