*{
    margin: 0;
    padding: 0;
}


header {
    background-color: #ff3909;
    display: flex;
    text-align: center;
    padding: 20px;
    color: #fff;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #b83814; 
}


@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
    .card {
        width: calc(50% - 30px);
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 10px;
    }
    .card {
        width: calc(100% - 20px);
    }
}

footer {
    background-color:#ff3900 ;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #b83814;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #fff;
}

